# Ignore data files and generated plots
data/
plots/
jobs/
README_me.md
# Ignore Python cache and virtual environment
__pycache__/
*.pyc
.venv/
env/
*.err
*.out

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store

# Ignore environment variable files
.env
.gitignore
